<header class="site-header">
    <nav class="nav">
      <ul class="nav-left">
  <li><a href="shop.html">Shop</a></li>
  <li><a href="about.html">About Author</a></li>
  <li><a href="docs.html">Documentation</a></li>
</ul>
  
      <div class="logo">
        <a class="brand" href="index.html" aria-label="LUMÉA Home">
  <span class="brand__name">LUMÉA</span>
  <span class="brand__tag">lux skincare</span>
</a>

      </div>
  
      <ul class="nav-right">
        <li class="wish-link">
          <a href="wishlist.html" aria-label="Wishlist">
            ♡ <span id="wishCount" class="badge">0</span>
          </a>
        </li>
        

      
        <li class="cart-link">
          <a href="cart.html" aria-label="Cart">
            🛒 <span id="cartCount" class="badge">0</span>
          </a>
        </li>
      </ul>
      
    </nav>
  </header>
  